flask
flask_sqlalchemy
gunicorn
python-dotenv
user-agents
requests
flask-limiter
pytz
flask-login
segno
Pillow
orjson
google-genai
holehe
httpx
flask-wtf
bcrypt
pyotp
qrcode
webauthn
SQLAlchemy>=2.0.25
